<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blogging</title>
        {% extends 'home.html' %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        {% block bodyhere %}
        <div class="blurry mx-auto">
            <h1>Add Post !</h1><br>
            <form method = "post" action="/addingimage/" enctype="multipart/form-data"> {% csrf_token %}
                <h4>Add your Picture here</h4><br>
                <input type="file" name="image"><br><br>
                <h4>Caption</h4><textarea name="capt" rows="10" cols="30" required></textarea><br>
                <button type="submit">Upload</button> 
            </form> 
        </div>
        {%endblock%}
    </body>
</html>