<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blogging</title>
        {% extends 'home.html' %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        {% block bodyhere %}
        {% load mytags %}
        <div class="container" style="overflow: scroll;">
          <h1>Bookmarked Posts</h1>
          {% for i in book %}
          <div class="card myborder">
              {% if i.Username %}
              {%csrf_token%}
              <h3 class="card-title"><a onclick="pro({{ i.id }})" href="#profileModal" data-toggle="modal" id="profile">{{i.Username}}</a></h3>
              <p class="card-subtitle" style="color: rgb(98, 174, 181);">{{i.time}}</p>
              <img class="card-img" style="max-width:100%; max-height: 50rem;" class="imag-thumbnail img-responsive" src="{{ i.Image.url }}">
              <h3 style="color: rgb(189, 209, 223);">{{ i.caption }}</h3>
              <div class="content-block">
              <a onclick="showLikes({{i.id}})" href="#LikesModal" data-toggle="modal" id="totalL{{i.id}}" style="padding-right: 39px;">Likes : {% totalLikes i.id %}</a>
              <a onclick="showComments({{i.id}})" href="#CommentsModal" data-toggle="modal" id="totalC{{i.id}}">Comments : {% totalComments i.id %}</a>
              </div>
              <br>
              <form action="/removebookmark/" method="POST">{% csrf_token %}
                <button class="btn btn-info" value="{{i.id}}" name="object">Remove Bookmark</button>
              </form><br>
              {% else %}
                <h5>{{i}}</h5>
              {% endif %}
          </div><br>
          {% endfor %}
        </div>
        <div class="modal fade" id="LikesModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">People who liked this post</h5>
                </div>
                <div style="text-align: left;" id="likers" class="modal-body">
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>  
        </div>
        <div class="modal fade" id="CommentsModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">People who commented on this post</h5>
                </div>
                <div style="text-align: left;" id="commenters" class="modal-body">
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>  
        </div>
        {% endblock %}
    </body>
</html>