<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Authentication</title>
        {% extends 'home.html' %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        {% block bodyhere %}
        <h2>Change Password</h2><br>
        <form action="/changing/" method="post">{% csrf_token %}
            <input type="password" placeholder="Current Password" name="cpass">
            <p><br></p>
            <input type="password" id="password" placeholder="New Password" name="npass" pattern=".{8,}" title="Atleast 8 characters">
            <p><br></p>
            <input type="password" id="confirm_password" placeholder="New Password again" name="npassa" pattern=".{8,}" title="Atleast 8 characters">
            <p><br></p>
            <input type="submit" value="Change Password">
        </form>
        {% endblock %}
    </body>
</html>