{%load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blogging</title>
        <script src="{% static 'home/base.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'home/blogging.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body style="background-color: rgb(201, 198, 197); text-align: center;">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
        <nav class="navbar navbar-dark mynav" style="background-color: black;">
          {% load mytags %}
            {% if request.session.name %}
                <div>
                    <button id="main" class="openbtn" onclick="openNav()">☰</button>
                </div>
            {% else %}
                <span class="navbar-brand">Blogging</span>
            {% endif %}
            <ul class="row justify-content-end mynav">
            <li><a href="/" class="navbar-brand">Home</a></li>
            {% if request.session.name %}
            <div class="dropdown">
            <a onclick="notif()" class="navbar-brand" role="button" id="mydrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Notifications<span id="nbadge" class="badge badge-danger">{% totalNotifications request.session.username %}</span></a>
            <div class="dropdown-menu mydrop" aria-labelledby="mydrop">
              <div class="dropdown-header" style="color: blue;">Marked as Read Now</div>
              <div id="notifylist">

              </div>
            </div>
            </div>
            <li><a href="/logout/" class="navbar-brand">Logout ({{request.session.name}})</a></li>
            {% else %}
            <li><a href="/signup/" class="navbar-brand">Sign up</a></li>
            <li><a href="/login/" class="navbar-brand">Login</a></li>
            <li><a href="/myadmin/" class="navbar-brand">Admin</a></li>
            {% endif %}
            </ul>
        </nav>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <img height="100px" width="100px" style="max-width: 100%; height: auto;" class="imag-thumbnail img-responsive" src="{{ request.session.dp }}">
                <a style="text-align: center; color:white;">{{request.session.username}}</a><br>
                <a href="/viewprofile/">Profile</a>
                <a href="/addpost/">Add Post</a>
                <a href="/viewposts/">Your Posts</a>
                <a href="/bookmarks/">Bookmarks</a>
            </div>
            <br>
          {% block bodyhere %}
          <h1>Blogging</h1><br>
          {% for i in post %}
            <div class="container border-1" style="margin-left:auto;margin-right:auto;">
                {%csrf_token%}
                <h3>Post by <a onclick="pro({{ i.id }})" href="#profileModal" data-toggle="modal" id="profile">{{i.Username}}</a></h3>
                <img height="500px" width="500px" style="max-width: 100%; height: auto;" class="imag-thumbnail img-responsive" src="{{ i.Image.url }}">
                <h4>{{ i.caption }}</h4>
                {%csrf_token%}
                <a onclick="showLikes({{i.id}})" href="#LikesModal" data-toggle="modal" id="totalL{{i.id}}" style="padding-right: 40px;">Likes : {% totalLikes i.id %}</a>
                <a onclick="showComments({{i.id}})" href="#CommentsModal" data-toggle="modal" id="totalC{{i.id}}">Comments : {% totalComments i.id %}</a>
                {% if request.session.username %}
                {%csrf_token%}
                <div style="padding: 10px;" class="content-block">
                <button style="margin-right: 40px;" onclick="liked({{i.id}})" id="like{{i.id}}">{% getLikes i.id likes %}</button>
                <button onclick="bookmarked({{i.id}})" id="book{{i.id}}">{% getBookmarks i.id book %}</button>
                </div>
                <form action="/commenting/" method="POST">{% csrf_token %}
                    <input type="text" name="comment" placeholder="Type a comment"> 
                <button onclick="comments({{i.id}})" id="comment{{i.id}}" value="{{i.id}}" name="pid">Comment</button>
                </form><br>
                {% else %}
                <form action="/login/" method="POST">{% csrf_token %}
                  <div style="padding: 10px;" class="content-block">
                    <button style="margin-right: 40px;">Like</button>
                    <button>Bookmark</button>
                  </div>
                    <input type="text" placeholder="Type a comment"> 
                    <button>Comment</button><br>
                </form><br>
                {% endif %}
            </div><br>
            {% endfor %}
            <div class="modal fade" id="LikesModal" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">People who liked this post</h5>
                    </div>
                    <div style="text-align: left;" id="likers" class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>  
            </div>
            <div class="modal fade" id="CommentsModal" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">People who commented on this post</h5>
                    </div>
                    <div style="text-align: left;" id="commenters" class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>  
            </div>
            <div class="modal fade" id="profileModal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Profile</h5>
                  </div>
                  <div class="modal-body">
                    <br>
                    <div class="row">
                      <div class="col">
                      <img height="100px" width="100px" style="max-width: 100%; height: auto;" class="imag-thumbnail img-responsive" id="dp">
                      </div>
                      <div class="col">
                      <div style="font-weight: bold;" id="name"></div><br>
                      <div style="text-align: left;" id="about"></div>
                      </div>
                  </div>
                  <br>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>  
              </div>
            </div>
          <script>
            function pro(id)
            {
                $.ajax(
                    {
                        type: "POST",
                        url: "/profile/",   
                        data: {"csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').val(),"id": id},
                        success: function(response)
                        {
                            var s=response.replace('[','');
                            s=s.replace(']','');
                            if(s!="")
                            {
                              s=s.split('"').join('');
                              var res=s.split(',');
                              $('#dp').attr('src',res[1]);
                              $('#name').html(res[0]);
                              var k = res[2].replace(/\\r\\n/gm, "<br>");
                              console.log(k);
                              $('#about').html(k);
                            }},
                        error:function(){console.log('error');},
                    });
            }
          </script>
          {% endblock %}
    </body>
</html>