<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blogging</title>
        {% extends 'home.html' %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        {% block bodyhere %}
        <h1>Reset your password !</h1><br>
        <h3>We will send an OTP at your email to reset password</h3><br>
        <form method="POST" action="/reset/">{% csrf_token %}
        <input type="email" name="email" placeholder="Enter Email Address">
        <p><br></p>
        <button>Send OTP</button> 
        {% endblock %}
        </body>
    </html>